*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

.main{
	height: 90vh;
	width: 80vw;
	background-color: teal;
	position: relative;
	margin: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
	padding: 10px;
}
.text{
	color: red;
	font-size: 40px;
}
.box{
	height: 100px;
	width: 100px;
	background-color: red;
	border: 2px solid red;
}
.b1{
	background-color: white;
	display: flex;
	justify-content: center;
	align-items: center;

}
.b2{
	background-color: white;
}
.b3{
	background-color: white;
	box-shadow: 10px 10px 10px red;
}
.b4{
	background-color: white;
	box-shadow: 10px 10px 10px red inset;
}
